/* Drum Kit CSS */

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(240, 230, 205);
}

header {
  text-align: center;
  height: 100px;
  color: #fff;
  background: rgb(17, 1, 56);
}

header h1 {
  padding-top: 20px;
}

.drum-w {
  background: url("../image/tom1.png");
}
.drum-a {
  background: url("../image/tom2.png");
}
.drum-s {
  background: url("../image/tom3.png");
}
.drum-d {
  background: url("../image/tom4.png");
}
.drum-j {
  background: url("../image/snare.png");
}
.drum-k {
  background: url("../image/crash.png");
}
.drum-l {
  background: url("../image/kick.png");
}

.drum {
  width: 150px;
  height: 150px;
  margin: 10px;
  font-size: 5rem;
  text-align: center;
}

.pressed {
  box-shadow: 0 10px 10px 0 #dbedf3;
  opacity: 0.8;
}

#drum-set {
  height: 65vh;
  padding-top: 200px;
  padding-left: 200px;
}

footer {
  text-align: center;
  height: 50px;
  color: #fff;
  background: rgb(17, 1, 56);
  padding-top: 20px;
}

@media (max-width: 580px) {
  #drum-set {
    height: 100%;
    margin: 0 auto;
  }
}
